<div class="container">
<h1>Inbox</h1>

<button id="authorize-button" class="btn btn-primary hidden">Authorize</button>

<table class="table table-striped table-inbox hidden">
  <thead>
    <tr>
      <th>From</th>
      <th>Subject</th>
      <th>Date/Time</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
</div>
<a href="https://myaccount.google.com/u/3/security#connectedapps">Log Out</a>

<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
