/* Variables */
$error-color-light: #FFCCCC;
$error-color-dark: #FF0044;

.field_with_errors label {
  color:$error-color-dark;
}

.field_with_errors label:before {
  content: "*";
  color:$error-color-dark;
}

.error-messages-container {
  background: $error-color-light;
}

.field_with_errors {
  display: inline;
}

.contact-alert {
  color: #8B4500;
  background: #FFD39B;
  padding:10px;
}

.system-info,
.contact-alert {
  overflow:hidden;
  max-height:0;
}

.contact-hide {
  max-height:0;
  transition: max-height 1s ease;
  padding:0;
  overflow:hidden;
}

.contact-show {
  max-height:800px;
  transition: max-height 1s ease;
}

.how-to-ask {
  img {
    width:60%;
    height:auto;
    margin: 10px auto;
    display:block;
  }
}

.good-example {
  color:#006400;
  background:#dbf0d0;
  padding: 10px;
  position:relative;
  &:before {
    content: "✓";
  }
}

.bad-example {
  position:relative;
  padding: 10px;
  color:#B0171F;
  background: #EEE0E5;
  &:before {
    content: "❌";
  }
}
