/* Variables */
$error-color-light: #FFCCCC;
$error-color-dark: #FF0044;

.booqmail-form-wrapper {
  max-width:1000px;
}

.field_with_errors label {
  color:$error-color-dark;
}

.field_with_errors label:before {
  content: "*";
  color:$error-color-dark;
}

.error-messages-container {
  background: $error-color-light;
}

.field_with_errors {
  display: inline;
}

.contact-alert {
  color: #333;
  background: #fff8dc;
  padding:10px;
  margin-bottom:30px;
}

.system-info,
.contact-alert {
  overflow:hidden;
  max-height:0;
}

.contact-hide,
.better-question-prompt.contact-hide {
  max-height:0;
  transition: max-height 1s ease;
  padding:0;
  border:0;
  overflow:hidden;
}

.contact-show {
  max-height:800px;
  transition: max-height 1s ease;
}

.how-to-ask {
  img {
    width:60%;
    height:auto;
    margin: 10px auto;
    display:block;
  }
}

.good-example {
  color:#006400;
  background:#dbf0d0;
  padding: 10px;
  position:relative;
  &:before {
    content: "✓";
  }
}

.bad-example {
  position:relative;
  padding: 10px;
  color:#B0171F;
  background: #EEE0E5;
  &:before {
    content: "❌";
  }
}

.message-content {
  position:relative;
  textarea {
    width:100%;
    height:100px;
  }
}

.better-question-prompt {
  position:relative;
  background:#fff8dc;
  color:#333;
  width:100%;
  padding:20px;
  border: 3px solid #fff8dc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  &:before {
    content: "▲";
    text-shadow: 0 -2px 1px rgba(0,0,0,0.1);
    color:#fff8dc;
    position:absolute;
    top:-28px;
    left:5px;
    font-size:25px;
  }
  h3 {
    color: #333;
    text-transform: uppercase;
  }
  .dismiss-button {
    background: transparent;
    padding:0;
    color:#333;
  }
  ol {
    background: #fff8dc;
    padding: 10px 35px;
  }
}

#better-question-reason {
  font-variant: small-caps;
}

#contact_message_content {
  min-width:100%;
}

.booqmail-form-wrapper button.activate-prompt-button {
  background-color: #fff;
  border: 1px solid #3498db;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: #3498db;
  display: inline;
  font-family: monospace;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  opacity: 0;
  padding: 0;
  text-align: center;
  transition: opacity 1s ease 0s;
  vertical-align: middle;
  width: 20px;
  &.button-show {
    opacity: 1;
  }
}

.content-group {
  padding: 20px 0;
}
