<div class="container">
<h1>Inbox</h1>

<%= link_to "Log in to Gmail", messages_path, class: "btn btn-primary", remote: true %>

<div id="message-container">
  <table class="table table-striped table-inbox">
    <thead>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Date/Time</th>
      </tr>
      <% @messages.each do |m| %>
      <tr>
        <td><%= Mail.new(m.raw_message).from[0] %></td>
        <td><%= link_to m.subject, email_path(m.uid) %></td>
        <td><%= m.date %></td>
      </tr>
      <% end %>
    </thead>
    <tbody></tbody>
  </table>
</div>
</div>
