<%= link_to "Back to Inbox", emails_path %>
<%= link_to "Reply", new_reply_path(id: @message.uid) %>

<div id="message-body">
  <%= @message.email_body %>
</div>

<hr>
<div class='attachment'>
  <%= @message.email_attachment %>
</div>
